Hi #{@user.name}.
%br
%br
%br
%form{:method => "POST"}
  %input{:type => "hidden", :name => "live_token", :value => params[:live_token]}
  What did you get at #{@user.restaurant.name}?
  %br
  %input{:type => "text", :name => "meal"}
  %br
  %br
  and how did you like it?
  %br
  %input{:type => "text", :name => "rating"}
  %br
  %br
  %input{:type => "submit"}