<!doctype html>  

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ --> 
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!--  Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS : implied media="all" -->
  <link rel="stylesheet" href="css/style.css?v=2">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="css/handheld.css?v=2">  -->
 
  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="js/libs/modernizr-1.6.min.js"></script>

</head>

<body>

  <div id="container">
    <header><div id="headerGradient"><a id="logo" class="ir" href="/">What's Best Here?
  </a></div></header>
    
    <div id="main">
<!--
<h1>Terms of Use and Privacy Policy<//h1>
<p>lorem  ipsum and stuff about junk. <a href="#terms">Terms of Use</a> and <a href="#privacy">Privacy Policy</a>
<h2 name="terms">Terms of Use</h2>
<ul>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
</ul>
<h2 name="privacy">Privacy Policy</h2>
<ul>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
	<li>Lorem ipsum</li>
</ul>-->

<pre>
Terms and Conditions

Your Agreement with Whatsbest.com

You, as a user of the Whatsbest.com website (herein “User”), hereby agree that your use of the
whatsbest app, its website, tools, and any and all other services provided by Whatsbest.com
(collectively “Whatsbest.com” of “the Service”) is governed by this agreement.

PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY AS THEY CONTAIN
IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND
OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS,
AND A DISPUTE RESOLUTION CLAUSE THAT GOVERNS HOW DISPUTES WILL BE
RESOLVED.

Your Use of Whatsbest.com

In consideration of using Whatsbest.com, you agree to: (a) provide accurate, current and
complete information about you as may be prompted by any registration forms on the Site
("Registration Data"); (b) maintain and promptly provide updates on registration data to
Whatsbest.com to keep it accurate, current and complete.

Your use of Whatsbest.com and any content accessed through Whatsbest.com must comply with
all applicable laws, regulations, and ordinances, including any laws regarding the export of data
or software.

You may not access Whatsbest.com other than by the interfaces provided by Whatsbest.com or
any time interfere with or disrupt the proper operation of Whatsbest.com.

.Additional Terms

Your use of Whatsbest.com and any content accessed through Whatsbest.com is subject
to each of the additional terms provided in connection with Whatsbest.com, including the
Whatsbest.com Privacy Policy.

Content and Services Accessed through Whatsbest.com

Whatsbest.com’ goal is to make third-party vendor services available through the Whatsbest.com
website. Business to business and business to customer contact will occur through information
located on the Whatsbest.com website. It is the sole responsibility of the customer to review and
approve, independent of the Whatsbest.com website, any vendor listed on the Whatsbest.com
website before engaging a vendor for services.

Whatsbest.com may screen, modify, refuse, or remove certain content or third-party services, but
is not responsible for and does not endorse any third-party content or services. Whatsbest.com
further does not endorse any third-party service providers, products, services, opinions, or web
sites accessed through Whatsbest.com.

USE OF THESE SERVICES AND RELIANCE ON THE BIZSTARTS WEBSITE IS SOLELY
AT THE USER’S OWN RISK. BIZSTARTS MAY NOT BE HELD LIABLE FOR ANY
DAMAGES ARISING OUT OF OR RELATED TO USER’S USE OF THE BIZSTARTS
WEBSITE AND ANY CUSTOMER CONTACT ARISING THEREFROM.

Whatsbest.com Proprietary Rights

Whatsbest.com owns all proprietary rights to any and all Whatsbest.com website, tools, and
any and all other services provided by Whatsbest.com. Whatsbest.com gives you a personal,
revocable, non-assignable, and non-exclusive license to use the Whatsbest app.

All content available through the Service, including designs, text, graphics, pictures, video,
information, applications, software, music, sound and other files, and their selection and
arrangement (the "Site Content"), are the proprietary property of the Company, its users or
its licensors with all rights reserved. No Site Content may be modified, copied, distributed,
framed, reproduced, republished, downloaded, scraped, displayed, posted, transmitted, or sold
in any form or by any means, in whole or in part, without the Services' prior written permission,
except that the foregoing does not apply to your own User Content (as defined below) that you
legally post on the Site. Provided that you are eligible for use of the Site, you are granted a
limited license to access and use the Site and the Site Content and to download or print a copy
of any portion of the Site Content to which you have properly gained access solely for your
personal, non-commercial use, provided that you keep all copyright or other proprietary notices
intact. Except for your own User Content, you may not upload or republish Site Content on
any Internet, Intranet or Extranet site or incorporate the information in any other database or
compilation, and any other use of the Site Content is strictly prohibited. Such license is subject to
these Terms of Use and does not permit use of any data mining, robots, scraping or similar data
gathering or extraction methods. Any use of the Site or the Site Content other than as specifically
authorized herein, without the prior written permission of Company, is strictly prohibited and
will terminate the license granted herein. Such unauthorized use may also violate applicable laws
including copyright and trademark laws and applicable communications regulations and statutes.
Unless explicitly stated herein, nothing in these Terms of Use shall be construed as conferring
any license to intellectual property rights, whether by estoppels, implication or otherwise. This
license is revocable at any time without notice to the user and with or without cause.

User Content

When you post User Content to the Site, you authorize and direct us to make such copies thereof
as we deem necessary in order to facilitate the posting and storage of the User Content on the
Site. By posting User Content to any part of the Site, you automatically grant, and you represent
and warrant that you have the right to grant, to the Service an irrevocable, perpetual, non-
exclusive, transferable, fully paid, worldwide license (with the right to sublicense) to use, copy,
publicly perform, publicly display, reformat, translate, excerpt (in whole or in part) and distribute
such User Content for any purpose, commercial, advertising, or otherwise, on or in connection
with the Site or the promotion thereof, to prepare derivative works of, or incorporate into other
works, such User Content, and to grant and authorize sublicenses of the foregoing. You may
remove your User Content from the Site at any time. If you choose to remove your User Content,
the license granted above will automatically expire, however you acknowledge that the Company
may retain archived copies of your User Content. Whatsbest.com does not assert any ownership
over your User Content; rather, as between Whatsbest.com and its Users, subject to the rights
granted to us in these Terms, Users retain full ownership of all a respective User’s User Content
and any intellectual property rights or other proprietary rights associated with a respective User’s
User Content.

Modification and Termination of Whatbest.com

Changes to this Agreement

Whatsbest.com may change this agreement and will post the modified agreement at www.
Whatsbest.com. If you do not agree to the modified agreement, you should stop using
Whatsbest.com and notify Whatsbest.com immediately. Your continued use of Whatsbest.com
after the date the modified agreement is posted will constitute your acceptance of the modified
agreement in whole.

Limitation of Liability

IN NO EVENT WILL WHATSBEST OR ITS DIRECTORS, EMPLOYEES OR AGENTS BE
LIABLE TO YOU OR ANY THIRD PERSON FOR ANY INDIRECT, CONSEQUENTIAL,
EXEMPLARY, INCIDENTAL, SPECIAL OR PUNITIVE DAMAGES, INCLUDING
FOR ANY LOST PROFITS OR LOST DATA ARISING FROM YOUR USE OF THE
SITE OR THE SERVICE, ANY OF THE SITE CONTENT OR OTHER MATERIALS ON,
ACCESSED THROUGH OR DOWNLOADED FROM THE SITE, EVEN IF WHATSBEST
IS AWARE OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
NOTWITHSTANDING ANYTHING TO THE CONTRARY CONTAINED HEREIN.

The limitations of liability in this Section do not apply to breaches of intellectual property
provisions or indemnification obligations.


PRIVACY POLICY

Scope: This notice provides highlights of the full Whatsbest.com This notice and the full
privacy statement apply to those whatsbest.com sites and services that display or link to this
notice.

Personal Information

Additional Details

•When you register for whatsbest.com, we will ask you to provide personal information.

•

•We use cookies and other technologies to keep track of your interactions with our sites and

services to offer a personalized experience.

Additional Details

•You can stop the delivery of promotional e-mail from our sites or service by following the

instructions in the e-mail you receive.

•To make proactive choices about how we communicate with you by e-mail, telephone, and

postal mail, follow the instructions listed in the Communication Preferences of the full privacy
statement.

•To opt-out of the display of personalized advertisements, go to the Display of Advertising

section of the full privacy statement.

•To view and edit your personal information, go to the access section of the full privacy

statement.

Uses of Information

Additional Details

•We use the information we collect to provide the services you request. Our services may include

the display of personalized content and advertising.

•We use your information to inform you of other products or services offered by Whatsbest.com

and its affiliates, and to send you relevant survey invitations related to Whatsbest.com.

•We do not sell, rent, or lease our customer lists to third parties. In order to help provide our

services, we occasionally provide information to other companies that work on our behalf.

Important Information
•The full Online Privacy Statement contains links to information about specific whatsbest.com

sites or services.

•The sign in credentials (e-mail address and password) used to sign in to most whatsbest.com

sites and services are part of the Whatsbest ID.

•For more information on how to help protect your personal computer, your personal information

and your family online, visit our online safety resources.

•

How to Contact Us

For more information about our privacy practices, write us using our Web form. If you have a
technical or general support question, please visit http://support.whatsbest.com to learn more
about our Support offerings.

© 2011 Whatsbest.com. All rights reserved. Anti-Spam Policy



</pre>
    </div>
    
    <footer><div id="footerGradient">
		<nav>
			<a href="/terms-and-privacy">terms and privacy policy</a>
			<a href="/how-it-works">how it works</a>
			<p>some copyright info</p>
		</nav>
    </div></footer>
  </div> <!--! end of #container -->


  <!-- Javascript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
  <script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
  
  
  <!-- scripts concatenated and minified via ant build script-->
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
  <!-- end concatenated and minified scripts-->
  
  
  <!--[if lt IE 7 ]>
    <script src="js/libs/dd_belatedpng.js"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
  <![endif]-->

  <!-- yui profiler and profileviewer - remove for production -->
  <script src="js/profiling/yahoo-profiling.min.js"></script>
  <script src="js/profiling/config.js"></script>
  <!-- end profiling code -->


  <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
       change the UA-XXXXX-X to be your site's ID -->
  <script>
   var _gaq = [['_setAccount', 'UA-21363485-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  
</body>
</html>